In [56]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline
import re
import seaborn as sns

In [68]:
df=pd.read_csv("Test.csv")

In [69]:
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,patient_id,DEATH_EVENT
0,45.0,non-anaemitic,292,diabetic,35,not-present,850000.00,1.30,142,Male,Yes,88,10109,NaN
1,45.0,non-anaemitic,582,non-diabetic,20,present,126000.00,1.60,135,Male,No,180,10194,NaN
2,60.0,anaemitic,47,non-diabetic,20,not-present,204000.00,0.70,139,Male,Yes,73,10075,NaN
3,51.0,non-anaemitic,1380,non-diabetic,25,present,271000.00,0.90,130,Male,No,38,10046,NaN
4,75.0,non-anaemitic,582,diabetic,30,present,263358.03,1.83,134,Female,No,23,10024,NaN
5,70.0,non-anaemitic,571,diabetic,45,present,185000.00,1.20,139,Male,Yes,33,10042,NaN
6,50.0,anaemitic,115,non-diabetic,20,not-present,189000.00,0.80,139,Male,No,146,10173,NaN
7,55.0,non-anaemitic,582,diabetic,35,present,371000.00,0.70,140,Female,No,197,10219,NaN
8,55.0,non-anaemitic,60,non-diabetic,35,not-present,228000.00,1.20,135,Male,Yes,90,10111,NaN
9,40.0,non-anaemitic,624,non-diabetic,35,not-present,301000.00,1.00,142,Male,Yes,214,10248,NaN
10,70.0,non-anaemitic,212,diabetic,17,present,389000.00,1.00,136,Male,Yes,188,10210,NaN
11,50.0,anaemitic,298,non-diabetic,35,not-present,362000.00,0.90,140,Male,Yes,240,10265,NaN
12,60.0,anaemitic,607,non-diabetic,40,not-present,216000.00,0.60,138,Male,Yes,54,10057,NaN
13,60.0,anaemitic,96,diabetic,60,present,271000.00,0.70,136,Female,No,94,10116,NaN
14,49.0,non-anaemitic,972,diabetic,35,present,268000.00,0.80,130,Female,No,187,10209,NaN
15,64.0,non-anaemitic,143,non-diabetic,25,not-present,246000.00,2.40,135,Male,No,214,10247,NaN
16,65.0,anaemitic,113,diabetic,60,present,203000.00,0.90,140,Female,No,94,10118,NaN
17,60.0,anaemitic,315,diabetic,60,not-present,454000.00,1.10,131,Male,Yes,10,10007,NaN
18,50.0,anaemitic,159,diabetic,30,not-present,302000.00,1.20,138,Female,No,29,10033,NaN
19,45.0,non-anaemitic,582,non-diabetic,38,present,422000.00,0.80,137,Female,No,245,10275,NaN
20,75.0,non-anaemitic,119,non-diabetic,50,present,248000.00,1.10,148,Male,No,209,10236,NaN
21,60.0,anaemitic,76,diabetic,25,not-present,196000.00,2.50,132,Female,No,77,10082,NaN
22,80.0,non-anaemitic,148,diabetic,38,not-present,149000.00,1.90,144,Male,Yes,23,10025,NaN
23,65.0,anaemitic,335,non-diabetic,35,present,235000.00,0.80,136,Female,No,120,10154,NaN
24,53.0,anaemitic,270,diabetic,35,not-present,227000.00,3.40,145,Male,No,105,10129,NaN
25,54.0,non-anaemitic,582,diabetic,38,not-present,264000.00,1.80,134,Male,No,213,10244,NaN
26,72.0,non-anaemitic,364,diabetic,20,present,254000.00,1.30,136,Male,Yes,59,10059,NaN
27,50.0,non-anaemitic,582,non-diabetic,50,not-present,153000.00,0.60,134,Female,No,172,10186,NaN
28,80.0,non-anaemitic,805,non-diabetic,38,not-present,263358.03,1.10,134,Male,No,109,10140,NaN
29,48.0,anaemitic,131,diabetic,30,present,244000.00,1.60,130,Female,No,193,10213,NaN
30,59.0,anaemitic,280,diabetic,25,present,302000.00,1.00,141,Female,No,78,10084,NaN
31,45.0,non-anaemitic,2442,diabetic,30,not-present,334000.00,1.10,139,Male,No,129,10164,NaN
32,90.0,anaemitic,47,non-diabetic,40,present,204000.00,2.10,132,Male,Yes,8,10005,NaN
33,42.0,non-anaemitic,582,non-diabetic,60,not-present,263358.03,1.18,137,Female,No,82,10092,NaN
34,63.0,non-anaemitic,936,non-diabetic,38,not-present,304000.00,1.10,133,Male,Yes,88,10108,NaN
35,45.0,non-anaemitic,7702,diabetic,25,present,390000.00,1.00,139,Male,No,60,10060,NaN
36,70.0,non-anaemitic,92,non-diabetic,60,present,317000.00,0.80,140,Female,Yes,74,10076,NaN
37,45.0,non-anaemitic,582,non-diabetic,14,not-present,166000.00,0.80,127,Male,No,14,10017,NaN
38,60.0,non-anaemitic,53,non-diabetic,50,present,286000.00,2.30,143,Female,No,87,10104,NaN
39,70.0,anaemitic,143,non-diabetic,60,not-present,351000.00,1.30,137,Female,No,90,10113,NaN
40,60.0,anaemitic,231,diabetic,25,not-present,194000.00,1.70,140,Male,No,120,10155,NaN
41,72.0,anaemitic,943,non-diabetic,25,present,338000.00,1.70,139,Male,Yes,111,10144,NaN
42,70.0,non-anaemitic,582,diabetic,38,not-present,25100.00,1.10,140,Male,No,246,10277,NaN
43,50.0,non-anaemitic,582,diabetic,38,not-present,310000.00,1.90,135,Male,Yes,35,10045,NaN
44,45.0,non-anaemitic,582,non-diabetic,35,not-present,385000.00,1.00,145,Male,No,61,10063,NaN
45,64.0,non-anaemitic,1610,non-diabetic,60,not-present,242000.00,1.00,137,Male,No,113,10147,NaN
46,77.0,anaemitic,418,non-diabetic,45,not-present,223000.00,1.80,145,Male,No,180,10195,NaN
47,50.0,anaemitic,1051,diabetic,30,not-present,232000.00,0.70,136,Female,No,246,10278,NaN
48,65.0,non-anaemitic,167,non-diabetic,30,not-present,259000.00,0.80,138,Female,No,186,10197,NaN
49,63.0,anaemitic,122,diabetic,60,not-present,267000.00,1.20,145,Male,No,147,10178,NaN
50,58.0,anaemitic,145,non-diabetic,25,not-present,219000.00,1.20,137,Male,Yes,170,10184,NaN
51,70.0,non-anaemitic,2695,diabetic,40,not-present,241000.00,1.00,137,Male,No,247,10280,NaN
52,42.0,non-anaemitic,102,diabetic,40,not-present,237000.00,1.20,140,Male,No,74,10077,NaN
53,65.0,non-anaemitic,224,diabetic,50,not-present,149000.00,1.30,137,Male,Yes,72,10073,NaN
54,55.0,anaemitic,180,non-diabetic,45,not-present,263358.03,1.18,137,Male,Yes,211,10239,NaN
55,70.0,anaemitic,59,non-diabetic,60,not-present,255000.00,1.10,136,Female,No,85,10097,NaN
56,80.0,anaemitic,123,non-diabetic,35,present,388000.00,9.40,133,Male,Yes,10,10009,NaN
57,70.0,non-anaemitic,582,non-diabetic,40,not-present,51000.00,2.70,136,Male,Yes,250,10281,NaN
58,65.0,non-anaemitic,892,diabetic,35,not-present,263358.03,1.10,142,Female,No,256,10288,NaN
59,60.0,anaemitic,154,non-diabetic,25,not-present,210000.00,1.70,135,Male,No,82,10093,NaN

In [70]:
categorical_features=['anaemia', 'diabetes', 'high_blood_pressure', 'smoking', 'sex']

In [71]:
def category_onehot_multcols(multcolumns):
    df_final=df
    i=0
    for fields in multcolumns:
        
        print(fields)
        df1=pd.get_dummies(df[fields],drop_first=True)
        
        df.drop([fields],axis=1,inplace=True)
        if i==0:
            df_final=df1.copy()
        else:
            
            df_final=pd.concat([df_final,df1],axis=1)
        i=i+1
       
        
    df_final=pd.concat([df,df_final],axis=1)
        
    return df_final

In [72]:
df=category_onehot_multcols(categorical_features)

anaemia
diabetes
high_blood_pressure
smoking
sex

In [73]:
df_train=pd.read_csv('final_train.csv')

In [74]:
X = df_train.drop(columns=['DEATH_EVENT','patient_id'])
Y = df_train['DEATH_EVENT']

In [75]:
X

,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time,non-anaemitic,non-diabetic,present,Yes,Male
0,55.0,748,45,263000.00,1.30,137,88,1,1,0,0,1
1,60.0,95,60,337000.00,1.00,138,146,0,1,0,1,1
2,50.0,121,40,260000.00,0.70,130,175,0,0,0,0,1
3,59.0,176,25,221000.00,1.00,136,150,0,0,0,1,1
4,79.0,55,50,172000.00,1.80,133,78,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
281,86.0,582,38,263358.03,1.83,134,95,1,1,0,0,0
282,44.0,582,30,263358.03,1.60,130,244,1,0,1,1,1
283,42.0,5209,30,226000.00,1.00,140,87,1,1,0,1,1
284,60.0,235,38,329000.00,3.00,142,30,1,0,0,0,0
285,85.0,5882,35,243000.00,1.00,132,72,1,1,0,1,1

In [76]:
df.drop('DEATH_EVENT', axis=1, inplace=True)

In [78]:
df

,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time,patient_id,non-anaemitic,non-diabetic,present,Yes,Male
0,45.0,292,35,850000.00,1.30,142,88,10109,1,0,0,1,1
1,45.0,582,20,126000.00,1.60,135,180,10194,1,1,1,0,1
2,60.0,47,20,204000.00,0.70,139,73,10075,0,1,0,1,1
3,51.0,1380,25,271000.00,0.90,130,38,10046,1,1,1,0,1
4,75.0,582,30,263358.03,1.83,134,23,10024,1,0,1,0,0
5,70.0,571,45,185000.00,1.20,139,33,10042,1,0,1,1,1
6,50.0,115,20,189000.00,0.80,139,146,10173,0,1,0,0,1
7,55.0,582,35,371000.00,0.70,140,197,10219,1,0,1,0,0
8,55.0,60,35,228000.00,1.20,135,90,10111,1,1,0,1,1
9,40.0,624,35,301000.00,1.00,142,214,10248,1,1,0,1,1
10,70.0,212,17,389000.00,1.00,136,188,10210,1,0,1,1,1
11,50.0,298,35,362000.00,0.90,140,240,10265,0,1,0,1,1
12,60.0,607,40,216000.00,0.60,138,54,10057,0,1,0,1,1
13,60.0,96,60,271000.00,0.70,136,94,10116,0,0,1,0,0
14,49.0,972,35,268000.00,0.80,130,187,10209,1,0,1,0,0
15,64.0,143,25,246000.00,2.40,135,214,10247,1,1,0,0,1
16,65.0,113,60,203000.00,0.90,140,94,10118,0,0,1,0,0
17,60.0,315,60,454000.00,1.10,131,10,10007,0,0,0,1,1
18,50.0,159,30,302000.00,1.20,138,29,10033,0,0,0,0,0
19,45.0,582,38,422000.00,0.80,137,245,10275,1,1,1,0,0
20,75.0,119,50,248000.00,1.10,148,209,10236,1,1,1,0,1
21,60.0,76,25,196000.00,2.50,132,77,10082,0,0,0,0,0
22,80.0,148,38,149000.00,1.90,144,23,10025,1,0,0,1,1
23,65.0,335,35,235000.00,0.80,136,120,10154,0,1,1,0,0
24,53.0,270,35,227000.00,3.40,145,105,10129,0,0,0,0,1
25,54.0,582,38,264000.00,1.80,134,213,10244,1,0,0,0,1
26,72.0,364,20,254000.00,1.30,136,59,10059,1,0,1,1,1
27,50.0,582,50,153000.00,0.60,134,172,10186,1,1,0,0,0
28,80.0,805,38,263358.03,1.10,134,109,10140,1,1,0,0,1
29,48.0,131,30,244000.00,1.60,130,193,10213,0,0,1,0,0
30,59.0,280,25,302000.00,1.00,141,78,10084,0,0,1,0,0
31,45.0,2442,30,334000.00,1.10,139,129,10164,1,0,0,0,1
32,90.0,47,40,204000.00,2.10,132,8,10005,0,1,1,1,1
33,42.0,582,60,263358.03,1.18,137,82,10092,1,1,0,0,0
34,63.0,936,38,304000.00,1.10,133,88,10108,1,1,0,1,1
35,45.0,7702,25,390000.00,1.00,139,60,10060,1,0,1,0,1
36,70.0,92,60,317000.00,0.80,140,74,10076,1,1,1,1,0
37,45.0,582,14,166000.00,0.80,127,14,10017,1,1,0,0,1
38,60.0,53,50,286000.00,2.30,143,87,10104,1,1,1,0,0
39,70.0,143,60,351000.00,1.30,137,90,10113,0,1,0,0,0
40,60.0,231,25,194000.00,1.70,140,120,10155,0,0,0,0,1
41,72.0,943,25,338000.00,1.70,139,111,10144,0,1,1,1,1
42,70.0,582,38,25100.00,1.10,140,246,10277,1,0,0,0,1
43,50.0,582,38,310000.00,1.90,135,35,10045,1,0,0,1,1
44,45.0,582,35,385000.00,1.00,145,61,10063,1,1,0,0,1
45,64.0,1610,60,242000.00,1.00,137,113,10147,1,1,0,0,1
46,77.0,418,45,223000.00,1.80,145,180,10195,0,1,0,0,1
47,50.0,1051,30,232000.00,0.70,136,246,10278,0,0,0,0,0
48,65.0,167,30,259000.00,0.80,138,186,10197,1,1,0,0,0
49,63.0,122,60,267000.00,1.20,145,147,10178,0,0,0,0,1
50,58.0,145,25,219000.00,1.20,137,170,10184,0,1,0,1,1
51,70.0,2695,40,241000.00,1.00,137,247,10280,1,0,0,0,1
52,42.0,102,40,237000.00,1.20,140,74,10077,1,0,0,0,1
53,65.0,224,50,149000.00,1.30,137,72,10073,1,0,0,1,1
54,55.0,180,45,263358.03,1.18,137,211,10239,0,1,0,1,1
55,70.0,59,60,255000.00,1.10,136,85,10097,0,1,0,0,0
56,80.0,123,35,388000.00,9.40,133,10,10009,0,1,1,1,1
57,70.0,582,40,51000.00,2.70,136,250,10281,1,1,0,1,1
58,65.0,892,35,263358.03,1.10,142,256,10288,1,0,0,0,0
59,60.0,154,25,210000.00,1.70,135,82,10093,0,1,0,0,1

In [77]:
data=df.copy()
data=data.drop(columns='patient_id')

In [53]:
data.dtypes

age                         float64
creatinine_phosphokinase      int64
ejection_fraction             int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
time                          int64
DEATH_EVENT                  object
non-anaemitic                 uint8
non-diabetic                  uint8
present                       uint8
Yes                           uint8
Male                          uint8
dtype: object

In [79]:
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier

In [80]:
lr_list = [0.05, 0.075, 0.1, 0.25, 0.5, 0.75, 1]

for learning_rate in lr_list:
    gb_clf = GradientBoostingClassifier(n_estimators=20, learning_rate=learning_rate, max_features=2, max_depth=2, random_state=0)
    gb_clf.fit(X, Y)

    print("Learning rate: ", learning_rate)
    print("Accuracy score (training): {0:.3f}".format(gb_clf.score(X,Y)))
    print("Accuracy score (validation): {0:.3f}".format(gb_clf.score(X,Y)))

Learning rate:  0.05
Accuracy score (training): 0.801
Accuracy score (validation): 0.801
Learning rate:  0.075
Accuracy score (training): 0.836
Accuracy score (validation): 0.836
Learning rate:  0.1
Accuracy score (training): 0.864
Accuracy score (validation): 0.864
Learning rate:  0.25
Accuracy score (training): 0.937
Accuracy score (validation): 0.937
Learning rate:  0.5
Accuracy score (training): 0.951
Accuracy score (validation): 0.951
Learning rate:  0.75
Accuracy score (training): 0.972
Accuracy score (validation): 0.972
Learning rate:  1
Accuracy score (training): 0.983
Accuracy score (validation): 0.983

In [88]:
y_pred=gb_clf.predict(data)

In [89]:
y_pred

array([0., 1., 1., 0., 1., 1., 1., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0.,
       1., 1., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 0., 1., 0.,
       0., 1., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 1., 1., 0., 0.])

In [90]:
pred=pd.DataFrame(y_pred)
#sub_df=pd.read_csv('sample_submission.csv')
datasets=pd.concat([df['patient_id'],pred],axis=1)
datasets.columns=['patient_id','DEATH_EVENT']
#datasets.to_csv('submission.csv',index=False)

In [91]:
datasets

    patient_id  DEATH_EVENT
0        10109          0.0
1        10194          1.0
2        10075          1.0
3        10046          0.0
4        10024          1.0
5        10042          1.0
6        10173          1.0
7        10219          0.0
8        10111          0.0
9        10248          0.0
10       10210          1.0
11       10265          0.0
12       10057          1.0
13       10116          0.0
14       10209          0.0
15       10247          0.0
16       10118          0.0
17       10007          1.0
18       10033          1.0
19       10275          0.0
20       10236          0.0
21       10082          0.0
22       10025          1.0
23       10154          0.0
24       10129          1.0
25       10244          0.0
26       10059          1.0
27       10186          0.0
28       10140          0.0
29       10213          0.0
30       10084          0.0
31       10164          0.0
32       10005          1.0
33       10092          0.0
34       10108          0.0
35       10060          1.0
36       10076          0.0
37       10017          1.0
38       10104          0.0
39       10113          0.0
40       10155          0.0
41       10144          1.0
42       10277          0.0
43       10045          1.0
44       10063          0.0
45       10147          0.0
46       10195          0.0
47       10278          0.0
48       10197          0.0
49       10178          0.0
50       10184          0.0
51       10280          0.0
52       10077          0.0
53       10073          1.0
54       10239          0.0
55       10097          0.0
56       10009          1.0
57       10281          1.0
58       10288          0.0
59       10093          0.0

In [95]:
datasets = datasets.sort_values(by=['patient_id'], ascending=True)

In [96]:
datasets

    patient_id  DEATH_EVENT
32       10005          1.0
17       10007          1.0
56       10009          1.0
37       10017          1.0
4        10024          1.0
22       10025          1.0
18       10033          1.0
5        10042          1.0
43       10045          1.0
3        10046          0.0
12       10057          1.0
26       10059          1.0
35       10060          1.0
44       10063          0.0
53       10073          1.0
2        10075          1.0
36       10076          0.0
52       10077          0.0
21       10082          0.0
30       10084          0.0
33       10092          0.0
59       10093          0.0
55       10097          0.0
38       10104          0.0
34       10108          0.0
0        10109          0.0
8        10111          0.0
39       10113          0.0
13       10116          0.0
16       10118          0.0
24       10129          1.0
28       10140          0.0
41       10144          1.0
45       10147          0.0
23       10154          0.0
40       10155          0.0
31       10164          0.0
6        10173          1.0
49       10178          0.0
50       10184          0.0
27       10186          0.0
1        10194          1.0
46       10195          0.0
48       10197          0.0
14       10209          0.0
10       10210          1.0
29       10213          0.0
7        10219          0.0
20       10236          0.0
54       10239          0.0
25       10244          0.0
15       10247          0.0
9        10248          0.0
11       10265          0.0
19       10275          0.0
42       10277          0.0
47       10278          0.0
51       10280          0.0
57       10281          1.0
58       10288          0.0

In [97]:
datasets.to_csv('Parul_Moriya_prediction.csv',index=False)